<div class="header">
  <h4 class="back-to-list" routerLink="/" routerLinkActive="active">
    <i class="fa fa-arrow-left"></i> Movies List
  </h4>
</div>

<div class="row">
  <div class="movies-information col-md-offset-2 col-md-7" *ngIf="movie">
    <img class="movie_img" [src]="'../assets/images/' + movie.image" />
    <h2>{{ movie.movieName }}</h2>
    <h3>( {{ movie.movieType }} )</h3>
    <h4>Released On: {{ movie.releasedOn | date: "d MMMM, yyyy" }}</h4>
    <h4>Ratings: {{ movie.ratings | number }}</h4>
  </div>
  <div class="col-md-2"></div>
</div>
