<div class="header">
  <div class="back-to-list py-3" routerLink="/" routerLinkActive="active">
    <i class="fa fa-arrow-left"></i> Movies List
  </div>
</div>
<div class="container-fluid">
<div class="row justify-content-center">
  <div class="movies-information mx-5" *ngIf="movie">
    <img class="movie_img" [src]=" '../assets/images/' + movie.image "/>
    <h5 class="my-4"> {{movie.movieName}}</h5>
    <h6> ( {{movie.movieType}} ) </h6>
    <h6 class="mb-4"> Released On: {{movie.releasedOn | date : 'd MMM, y'}}</h6>
    <h6> Ratings: {{movie.ratings | number}}</h6>
  </div>
  
</div>
</div>