<div class="header">
  <h1>Movies</h1>
  <!-- <h1>Releas Date: {{todaydate | date:'d MMM yyyy'}}</h1> -->
  <button
    class="add-movie-button"
    routerLink="/add-movie"
    routerLinkActive="active"
  >
    <i class="fa fa-plus"></i>
  </button>
</div>
<ul class="movies_list">
  <li
    *ngFor="let movie of moviesList"
    [routerLink]="'/movie-information/' + movie.id"
  >
    <img class="movie_img" [src]=" '../assets/images/' + movie.image " />
    <h2>{{movie.movieName}}</h2>
  </li>
</ul>
