<div class="header">
  <h4 class="back-to-list" routerLink="/" routerLinkActive="active">
    <i class="fa fa-arrow-left"></i> Movies List
  </h4>
</div>
<form class="movies-form" [formGroup]="movieFom" (ngSubmit)="createMovie()">
  <h1>Movie Form</h1>
  <mat-form-field class="movie-name">
    <input matInput formControlName="movieName" placeholder="Movie Name">
  </mat-form-field>

  <mat-form-field class="movie-type">
    <input matInput formControlName="movieType" placeholder="Movie Type">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="releasedOn" [matDatepicker]="picker" placeholder="Released Date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="movie-ratings">
    <input name="rating" [(ngModel)]="rating" matInput formControlName="ratings" placeholder="Movie Ratings">
  </mat-form-field>
  <p class="warning" *ngIf="ratingInvalid">Please enter valid rating beteen 1 to 10</p>

  <button [disabled]="isFormInvalid" class="create-button" mat-flat-button color="primary">Add Movie</button>
</form>
