<div class="header">
  <h4 class="back-to-list" routerLink="/" routerLinkActive="active">
    <i class="fa fa-arrow-left"></i> Movies List
  </h4>
</div>
<form class="movies-form" [formGroup]="movieFom" (ngSubmit)="createMovie()">
  <h1>Movie Form</h1>
  <mat-form-field class="movie-name">
    <input matInput required formControlName="movieName" placeholder="Movie Name">
  </mat-form-field>
  <div class="danger" 
        *ngIf="movieFom.controls['movieName'].touched && movieFom.controls['movieName']?.errors?.required">
        This field is required
  </div>

  <mat-form-field class="movie-type">
    <input matInput required formControlName="movieType" placeholder="Movie Type">
  </mat-form-field>
  <div class="danger" 
        *ngIf="movieFom.controls['movieType'].touched && movieFom.controls['movieType']?.errors?.required">
        This field is required
  </div>

  <mat-form-field>
    <input matInput required formControlName="releasedOn" [matDatepicker]="picker" placeholder="Released Date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="danger" 
        *ngIf="movieFom.controls['releasedOn'].touched && movieFom.controls['releasedOn']?.errors?.required">
        This field is required
  </div>

  <mat-form-field class="movie-ratings">
    <input matInput required type="number" min="1" max="10" formControlName="ratings" placeholder="Movie Ratings">
  </mat-form-field>
  <div class="danger" 
        *ngIf="movieFom.controls['ratings'].touched && movieFom.controls['ratings']?.errors?.required">
        This field is required
  </div>
  <div class="danger" 
        *ngIf="movieFom.controls['ratings'].touched && (movieFom.controls['ratings']?.errors?.min || movieFom.controls['ratings']?.errors?.max)">
        The rating should range between 1 - 10
  </div>

  <button class="create-button" mat-flat-button color="primary" [disabled]="movieFom.invalid">Add Movie</button>
</form>
